# Active Database Environment: 'local' | 'server' | 'sqlite'
DB_ENVIRONMENT=local
USE_SQLITE=False

# ------------------------------------------------------------------------------
# Local PostgreSQL Configuration (Active when DB_ENVIRONMENT=local)
# ------------------------------------------------------------------------------
LOCAL_DB_NAME=your_local_db_password
LOCAL_DB_USER=your_local_db_user
LOCAL_DB_PASSWORD=your_local_db_password
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432

# ------------------------------------------------------------------------------
# Server PostgreSQL Configuration (Active when DB_ENVIRONMENT=server)
# ------------------------------------------------------------------------------
SERVER_DB_NAME=landtdb
SERVER_DB_USER=your_server_db_user
SERVER_DB_PASSWORD=your_server_db_password
SERVER_DB_HOST=your_server_ip_or_host
SERVER_DB_PORT=5432

# ------------------------------------------------------------------------------
# Additional Database Tuning (Optional)
# ------------------------------------------------------------------------------
# DB_ENGINE=django.db.backends.postgresql
# DB_CONN_MAX_AGE=0
# DB_CONNECT_TIMEOUT=5

# ------------------------------------------------------------------------------
# Redis Configuration (Optional)
# ------------------------------------------------------------------------------
REDIS_URL=redis server url