# Database Configuration
# Options for DB_ENVIRONMENT: 'local' or 'server'
DB_ENVIRONMENT=local

# Local PostgreSQL Settings
LOCAL_DB_NAME=landtdb-local
LOCAL_DB_USER=postgres
LOCAL_DB_PASSWORD=admin@123
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432

# Server PostgreSQL Settings
SERVER_DB_NAME=landtdb
SERVER_DB_USER=landtuser
SERVER_DB_PASSWORD=Admin@123
SERVER_DB_HOST=10.1.150.142
SERVER_DB_PORT=5432

# Security & JWT Settings
SECRET_KEY=django-insecure-1p2al4x$=q5v$i%yhjfgz1cja@9a7_!#i5@3nwkmeb!tv!7gs-
DEBUG=True
ALLOWED_HOSTS=*
